.education{

    font-size: medium;
    background-color: rgb(195, 205, 213);
    text-align: left;
}
.Experience{
    background-color:gray;
    color: black; 
    font-size: 25px;
    text-align: left;
    
}

.Skills{
    background-color:rgb(194, 176, 154);
    font-size:450;
    text-align: left;
}

.hobbies{
   
    background-color:rgb(197, 191, 191);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-align: center;
}
.header{
    text-align: center;
}
